services:
  postgres:
    image: postgres:16-alpine
    container_name: bs_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: barber
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d barber"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7-alpine
    container_name: bs_redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: bs_api
    restart: unless-stopped
    ports:
      - "4000:4000"
    env_file:
      - ./api/.env
    environment:
      # garante que dentro do docker a API aponte pros containers
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/barber?schema=public
      REDIS_URL: redis://redis:6379
      NODE_ENV: development
      PORT: 4000
    depends_on:
      - postgres
      - redis
    volumes:
      - ./api:/app
      - /app/node_modules
    command: npm run start:dev

volumes:
  pgdata:
